<h1 mat-dialog-title>Agregar Nueva atencion</h1>
<div mat-dialog-content>
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()" method="POST">
        <div class="modal-body">

            <mat-form-field style="width: 100%"  appearance="outline">
                <mat-label>Doctor</mat-label>
                <input matInput type="number" name="identificacion" formControlName="identificacion" placeholder="Identificacion" class="form-control" id="identificacion">
              </mat-form-field>
              <br>
                <mat-form-field style="width: 100%"  appearance="outline">
                  <mat-label>Paciente</mat-label>
                  <input matInput name="nombre" formControlName="nombre" placeholder="Nombre" class="form-control" id="nombre">
                </mat-form-field>
                <br>
              
                <mat-form-field style="width: 100%"  appearance="outline">
                  <mat-label>Telefono</mat-label>
                  <input matInput type="number"  name="telefono" formControlName="telefono" placeholder="Telefono" class="form-control" id="telefono">
                </mat-form-field>
                <br>
                <br>

                <mat-form-field style="width: 100%"  appearance="outline">
                    <mat-label>Direccion</mat-label>
                    <input matInput name="direccion" formControlName="direccion" placeholder="Direccion" class="form-control" id="direccion">
                  </mat-form-field>
                  <br>

                  <mat-form-field style="width: 100%"   appearance="outline">
                    <mat-label>EPS</mat-label>
                    <mat-select name="eps" formControlName="eps" placeholder="EPS" class="form-control" id="eps">
                        <mat-option value="sura">SURA</mat-option>
                        <mat-option value="sanitas">SANITAS</mat-option>
                        <mat-option value="medimas">MEDIMAS</mat-option>
                        <mat-option value="comeva">COOMEVA</mat-option>
                        <mat-option value="nueva_eps">NUEVA EPS</mat-option>
                      </mat-select>
                  </mat-form-field>
                  <br>

                  <mat-form-field style="width: 100%"   appearance="outline">
                    <mat-label>Acopañante</mat-label>
                    <input matInput name="acompaniante" formControlName="acompaniante" placeholder="Acompañante" class="form-control" id="acompaniante">
                  </mat-form-field>

                  <div>
                    <label>Antecedentes: </label>
                    <mat-radio-group name="antecedentes" formControlName="antecedentes" placeholder="Antecedentes" class="form-control" id="antecedentes">
                      <mat-radio-button value="Y">SI</mat-radio-button>
                      <mat-radio-button value="N">NO</mat-radio-button>
                    </mat-radio-group>
                  </div>
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" [routerLink]="['/gestion_pacientes', id]">Cerrar</button>
          <button type="submit" class="btn btn-primary" >Guardar</button>
        </div>
    </form>
      </div>


