<div id='ModalNewDoctor' class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Agregar Nuevo Doctor</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form >
        <div class="modal-body">

            <mat-form-field style="width: 100%"  appearance="outline">
                <mat-label>Identificacion</mat-label>
                <input matInput name="identificacion" >
              </mat-form-field>
              <br>
                <mat-form-field style="width: 100%"  appearance="outline">
                  <mat-label>Nombre</mat-label>
                  <input matInput name="nombre" >
                </mat-form-field>
                <br>
              
                <mat-form-field style="width: 100%"  appearance="outline">
                  <mat-label>Telefono</mat-label>
                  <input matInput type="number"  name="telefono" >
                </mat-form-field>
                <br>
                <br>

                <mat-form-field style="width: 100%"  appearance="outline">
                    <mat-label>Direccion</mat-label>
                    <input matInput  name='direccion' >
                  </mat-form-field>
                  <br>

                  <mat-form-field style="width: 100%"   appearance="outline">
                    <mat-label>Tipo de sangre</mat-label>
                    <input matInput name="tipoSangre" >
                  </mat-form-field>
                  <br>

                  <mat-form-field style="width: 100%"   appearance="outline">
                    <mat-label>Experiencia</mat-label>
                    <input matInput name="representante" type="number">
                  </mat-form-field>

                  <mat-form-field style="width: 100%"   appearance="outline">
                    <mat-label>Nacimiento</mat-label>
                    <input matInput name="nacimiento" type="date">
                  </mat-form-field>
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" >Save changes</button>
        </div>
    </form>
      </div>
    </div>
  </div>

