<div class="box box-default">
  <div class="box-header" style="text-align: center;" >
      <h1>Gestion de Triage</h1>
  </div>
</div>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-card> 
<table class="table table-bordered" id="table_triage">
    <thead>
        <tr>
            <th>ID Triage</th>
            <th>Doctor</th>
            <th>Paciente</th>
            <th>Motivo Consulta</th>
            <th>Diagnostico</th>
            <th>Requiere Medicamentos</th>
            <th>Medicamentos</th>
            <th>Sintomas</th>
            <th>COVID-19</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let triage of triages">
        <td>{{triage.id}}</td>
        <td>{{triage.doctor.nombre}}</td>
        <td>{{triage.paciente.nombre}}</td>
        <td>{{triage.motivos}}</td>
        <td>{{triage.diagnostico}}</td>
        <td>{{triage.medicamentoR}}</td>
        <td>{{triage.medicamentos}}</td>
        <td>{{triage.sintomas}}</td>
        <td>{{triage.covid}}</td>
        <td>
            <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon" (click)="editarPaciente(triage)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" (click)="eliminarTriage(triage)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
    </tr>
    </tbody>
</table>
</mat-card>

<div class="contenedor">
  <button class="botonF1" [routerLink]="['/crear_triage', id]"  
  #tooltip="matTooltip"
  matTooltip="Agregar registros">
    <span>+</span>
  </button>

  <button class="botonF2" [routerLink]="['/hospital', id]" 
   #tooltip="matTooltip"
  matTooltip="Atras" >
      <span><mat-icon>replay</mat-icon></span>
    </button>
   </div>