
<div class="box box-default">
    <div class="box-header" style="text-align: center;" >
        <h1>{{ hosp.nombre }}</h1>
    </div>
</div>
<mat-divider></mat-divider>
<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card> 
            <h1>Inciar Triage</h1>
            <div class="example-button-container" style="text-align: center;">
            <button mat-fab color="primary" aria-label="Example icon button with a home icon"   [routerLink]="['/triage', hosp.id]" >
              <mat-icon>view_list</mat-icon>
            </button>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card> 
            <h1>Gestionar Doctores</h1>
        <div class="example-button-container" style="text-align: center;">
            <button mat-fab color="warn" aria-label="Example icon button with a home icon" [routerLink]="['/gestion_doctores', hosp.id]" >
              <mat-icon>people_outline</mat-icon>
            </button>
            </div>
            </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card> 
            <h1>Gestionar Pacientes</h1>
        <div class="example-button-container" style="text-align: center;">
            <button mat-fab color="basic" aria-label="Example icon button with a home icon" [routerLink]="['/gestion_pacientes', hosp.id]">
              <mat-icon>people_alt</mat-icon>
            </button>
        </div>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

